.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ccc;
}

.projectTitle {
  margin-bottom: 10px;
}

.projectComponents {
  margin-bottom: 50px;
}

.components {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.componentsItem {
  margin: 10px 15px;
}

.componentDisabled {
  margin-top: 10px;
}
